/* ================================================
Google Web Fonts
================================================ */
/* Montserrat */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300);

/* === Icons === */
/* Font Awesome */
@import url('font-awesome.min.css');

/* ================================================
Main Css
================================================ */
/* Bootstrap Main Css File (unedited) */
@import url('bootstrap.css');

/* Theme Style */
@import url('style.css');

/* Responsive Style */
@import url('responsive.css');

/* Shortcuts Css Codes */
@import url('shortcuts.css');

/* ================================================
Plugin Css
================================================ */
/* Awesome Bootstrap Checkbox */
@import url('plugin/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css');

/* Bootstrap Select */
@import url('plugin/bootstrap-select/bootstrap-select.css');

/* Bootstrap Select */
@import url('plugin/bootstrap-toggle/bootstrap-toggle.min.css');

/* Bootstrap wysihtml5 */
@import url('plugin/bootstrap-wysihtml5/bootstrap-wysihtml5.css');

/* Summernote */
@import url('plugin/summernote/summernote.css');
@import url('plugin/summernote/summernote-bs3.css');

/* Sweet Alert */
@import url('plugin/sweet-alert/sweet-alert.css');

/* Data Tables */
@import url('plugin/datatables/datatables.css');

/* Chartist */
@import url('plugin/chartist/chartist.min.css');

/* Rickshaw */
@import url('plugin/rickshaw/rickshaw.css');
@import url('plugin/rickshaw/detail.css');
@import url('plugin/rickshaw/graph.css');
@import url('plugin/rickshaw/legend.css');

/* Date Range Picker */
@import url('plugin/date-range-picker/daterangepicker-bs3.css');

/* Full Calendar */
@import url('plugin/fullcalendar/fullcalendar.css');


.pagination li {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333333 !important;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2f2f2
}

.pagination > li > a, .pagination > li > span {
    background: none !important;
    border: none !important;
}

.pagination li.active {
    background: #ddd !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #000;
    background: #ddd !important;
}

.pagination > li > a, .pagination > li > span {
    color: #000;
}