/***************************/
/*       VARIABLES       */
/***********************/
/*Colors*/
/*Fonts*/
/*Titles*/
/* Breakpoints for min-width media queries*/
/* --------------------------------------------------
    Base styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 30px;
  counter-reset: item;
  color: #707070;
  overflow-x: hidden; }

::selection {
  background: #56509F;
  color: #ffffff; }

::-moz-selection {
  background: #56509F;
  color: #ffffff; }

.container {
  max-width: 1200px !important; }

.content-wrapper {
  overflow-x: hidden; }

.intro-content {
  padding: 20px  0;
  position: relative; }
  @media (min-width: 990px) {
    .intro-content {
      padding: 50px 0; } }
  .intro-content .container {
    position: relative;
    z-index: 20; }

.content {
  padding: 30px 0; }
  @media (min-width: 990px) {
    .content {
      padding: 80px 0; } }
  .content ul li {
    position: relative;
    padding: 0 0 0 30px;
    list-style: none; }
    .content ul li:before {
      content: "\f00c";
      position: absolute;
      left: 0;
      top: 0;
      color: #56509F;
      font-family: FontAwesome; }
  .content img {
    max-width: 100%;
    width: 100%; }

#to-top-link-block {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  font-size: 20px;
  cursor: pointer; }
  #to-top-link-block a {
    color: #ffffff;
    display: inline-block;
    background: #56509F;
    padding: 7px 14px;
    transition: background 300ms ease-in-out; }
    #to-top-link-block a:hover {
      background: #FE6500; }

/* --------------------------------------------------
     Ovverides styles
-------------------------------------------------- */
.btn-success {
  background: #FE6500;
  transition: background 300ms ease-in-out;
  border: none;
  border-radius: 0 !important; }
  .btn-success:hover {
    background: #56509F; }

/* --------------------------------------------------
    Titles classes
-------------------------------------------------- */
h1, h2, .footer .footer-container h3, #gallery-header-center-left-title, h3, h4 {
  font-weight: bold; }

h1 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff; }
  @media (min-width: 544px) {
    h1 {
      font-size: 35px; } }
  @media (min-width: 1140px) {
    h1 {
      font-size: 50px;
      margin-bottom: 60px; } }
  h1 span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px; }
  body.index h1 {
    color: #56509F; }
    body.index h1 span {
      color: #707070; }

h2, .footer .footer-container h3, #gallery-header-center-left-title {
  margin-bottom: 20px;
  font-size: 16px;
  position: relative;
  padding-left: 25px;
  line-height: 1;
  font-weight: 300; }
  h2:before, .footer .footer-container h3:before, #gallery-header-center-left-title:before {
    content: '';
    width: 7px;
    position: absolute;
    bottom: 2px;
    top: 4px;
    left: 0;
    background: #56509F; }
  @media (min-width: 544px) {
    h2, .footer .footer-container h3, #gallery-header-center-left-title {
      font-size: 22.4px; } }
  @media (min-width: 1140px) {
    h2, .footer .footer-container h3, #gallery-header-center-left-title {
      font-size: 32px;
      margin-bottom: 30px; } }

h3 {
  margin-bottom: 20px;
  font-size: 14px; }
  @media (min-width: 544px) {
    h3 {
      font-size: 19.6px; } }
  @media (min-width: 1140px) {
    h3 {
      font-size: 28px;
      margin-bottom: 30px; } }

/* --------------------------------------------------
    Helpers classes
-------------------------------------------------- */
.decorative {
  font-family: "Ubuntu", sans-serif; }

/* --------------------------------------------------
     Navigation button styles
-------------------------------------------------- */
.nav-button {
  color: #ffffff;
  font-size: 28px;
  outline: none;
  border: 1px solid #ffffff;
  margin-top: 10px; }

/* --------------------------------------------------
     Navigation styles
-------------------------------------------------- */
/*Brand style*/
.navbar-brand, .navbar-brand:hover, .navbar-brand:active {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  margin: 5px 0;
  transition: color 300ms ease-in-out;
  position: absolute;
  left: 50%;
  top: -44px;
  transform: translateX(-50%); }
  .navbar-brand img, .navbar-brand:hover img, .navbar-brand:active img {
    width: 120px;
    transition: width 300ms linear; }
    @media (min-width: 990px) {
      .navbar-brand img, .navbar-brand:hover img, .navbar-brand:active img {
        width: 180px; } }
  @media (min-width: 768px) {
    .navbar-brand, .navbar-brand:hover, .navbar-brand:active {
      top: 0; } }
  @media (min-width: 990px) {
    .navbar-brand, .navbar-brand:hover, .navbar-brand:active {
      position: relative;
      transform: none;
      top: auto;
      left: auto; } }

/*Navigation styles*/
#navbar-header {
  color: #ffffff;
  margin-top: 40px;
  /*end .nav*/ }
.navbar.main-navigaion a.dropdown-item.active {
  color: #FE6500 !important;
}
.primary-color {
  color: #56509F;
}
@media (min-width: 768px) {
    #navbar-header {
      margin-top: 75px; } }
  @media (min-width: 990px) {
    #navbar-header {
      margin-top: 0; } }
  @media (min-width: 768px) {
    #navbar-header .nav {
      display: flex;
      justify-content: space-around;
      padding: 14px 0;
      margin-top: 10px; } }
  #navbar-header .nav li {
    position: relative;
    display: block;
    text-align: center; }
    #navbar-header .nav li.active a, #navbar-header .nav li:hover a {
      background: #56509F;
      color: #ffffff; }
    @media (min-width: 768px) {
      #navbar-header .nav li {
        display: inline-block;
        text-align: left; }
        #navbar-header .nav li.active a, #navbar-header .nav li:hover a {
          background: transparent;
          color: #333333; }
          #navbar-header .nav li.active a .fa, #navbar-header .nav li:hover a .fa {
            color: #FE6500; }
        #navbar-header .nav li.active:after, #navbar-header .nav li:hover:after {
          opacity: 1; }
        #navbar-header .nav li:after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 10px;
          background-image: url("../img/layout/menu_active.png");
          background-repeat: no-repeat;
          background-position: center;
          transition: opacity 300ms ease-in-out;
          opacity: 0; } }
    #navbar-header .nav li a {
      color: #333333;
      font-size: 12px;
      font-weight: 300;
      transition: color 300ms ease-in-out,background 300ms ease-in-out;
      text-transform: uppercase;
      display: block;
      border-top: 1px solid #eaeaea;
      text-align: center;
      line-height: 1.6;
      outline: none; }
      #navbar-header .nav li a .fa {
        color: #e6e6e6;
        display: block;
        font-size: 36px;
        transition: color 300ms ease-in-out; }
      @media (min-width: 768px) {
        #navbar-header .nav li a {
          display: inline-block;
          border-top: none; } }

/*Navigation box styles*/
.main-navigaion {
  transition: background 300ms ease-in-out;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  border-radius: 0 !important;
  box-shadow: 0px 7px 24px -6px rgba(0, 0, 0, 0.75);
  padding: 0;
  background: #ffffff;
  min-height: 85px;
  /*Fixed navigation styles*/ }
  .main-navigaion .navbar-nav {
    transition: padding 300ms ease-in-out; }
  .main-navigaion .col-lg-8, .main-navigaion .container {
    padding-left: 0;
    padding-right: 0; }
  @media (min-width: 768px) {
    .main-navigaion .col-lg-8, .main-navigaion .container {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 990px) {
    .main-navigaion.fixed .navbar-brand img {
      width: 120px; }
    .main-navigaion.fixed .navbar-nav {
      padding: 0 !important; } }

/*Navbart toggler*/
.navbar-toggler {
  border: 1px solid #333333;
  font-size: 24px;
  padding: 8px;
  position: relative;
  left: 14px;
  top: 14px; }

.dropdown-menu {
  left: 50%;
  top: 110%;
  transform: translateX(-50%); }
  .dropdown-menu .dropdown-item {
    text-align: left !important; }

/* --------------------------------------------------
    Header styles
-------------------------------------------------- */
.header {
  max-height: 100vh;
  overflow: hidden;
  position: relative; }
  body.index .header:after {
    content: '';
    position: absolute;
    height: 181px;
    width: 110%;
    transform: rotate(5deg);
    bottom: -114px;
    left: -10%;
    background: #ffffff; }
    @media (min-width: 768px) {
      body.index .header:after {
        bottom: -77px; } }

/*Header slider*/
.header-slider .slick-slide {
  height: 400px;
  background-size: cover;
  background-position: center center;
  overflow: hidden; }
  @media (min-width: 768px) {
    .header-slider .slick-slide {
      height: 700px; } }
  @media (min-width: 1140px) {
    .header-slider .slick-slide {
      height: 900px;
      background-attachment: fixed; } }
.header-slider .slide-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 160px;
  padding-left: 30px; }
  @media (min-width: 1140px) {
    .header-slider .slide-text {
      padding-top: 9%; } }
  @media (min-width: 768px) {
    .header-slider .slide-text .textbox {
      margin-top: 190px; } }
  .header-slider .slide-text .textbox strong {
    font-family: "Ubuntu", sans-serif;
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 0px 3px #969696; }
    @media (min-width: 768px) {
      .header-slider .slide-text .textbox strong {
        font-size: 30px; } }
    @media (min-width: 990px) {
      .header-slider .slide-text .textbox strong {
        font-size: 40px; } }
  .header-slider .slide-text .textbox p {
    display: inline-block;
    color: #ffffff;
    background: #FE6500;
    padding: 0 8px;
    font-size: 11px;
    margin: 15px 0; }
    @media (min-width: 990px) {
      .header-slider .slide-text .textbox p {
        font-size: 14px;
        padding: 0 18px;
        letter-spacing: 1px; } }

/*Header image box*/
.header-image-box {
  height: 200px;
  background: url("../img/layout/header-bg.jpg");
  background-size: cover;
  margin-top: 85px;
  padding-top: 60px; }
  @media (min-width: 768px) {
    .header-image-box {
      margin-top: 173px; } }
  @media (min-width: 990px) {
    .header-image-box {
      margin-top: 128px; } }

/* --------------------------------------------------
    Parallax container styles
-------------------------------------------------- */
.homepage-parallax-container {
  background-image: url("../img/layout/parallax-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  position: relative;
  padding-top: 320px;
  text-align: center; }
  @media (min-width: 768px) {
    .homepage-parallax-container {
      height: 700px; } }
  .homepage-parallax-container:before {
    content: '';
    position: absolute;
    height: 181px;
    width: 110%;
    transform: rotate(5deg);
    top: -100px;
    right: -10%;
    background: #ffffff;
    z-index: 10; }
    @media (min-width: 768px) {
      .homepage-parallax-container:before {
        top: -24px; } }
  .homepage-parallax-container:after {
    content: '';
    background: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 50px; }
  .homepage-parallax-container .circle {
    display: inline-block;
    background: #FE6500;
    border-radius: 50%;
    width: 60%;
    height: 130px;
    line-height: 1.2;
    color: #ffffff;
    padding-top: 33px; }
    .homepage-parallax-container .circle.secondary {
      background: #56509F; }
    .homepage-parallax-container .circle strong {
      display: block;
      font-size: 24px;
      font-weight: 700; }
    @media (min-width: 1140px) {
      .homepage-parallax-container .circle {
        height: 150px;
        padding-top: 33px; }
        .homepage-parallax-container .circle strong {
          font-size: 45px; } }
  .homepage-parallax-container .parallax-textbox {
    display: none; }
    @media (min-width: 990px) {
      .homepage-parallax-container .parallax-textbox {
        display: block; } }

/* --------------------------------------------------
    Workouts slider styles
-------------------------------------------------- */
.slider-wrapper {
  background: #F5F5F5;
  padding: 80px 0; }

.news-slider strong {
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-size: 16px;
  transition: color 300ms ease-in-out; }
  @media (min-width: 990px) {
    .news-slider strong {
      font-size: 20px; } }
.news-slider span {
  font-size: 12px; }
  .news-slider span:last-child {
    float: right; }
  .news-slider span .fa {
    color: #56509F;
    display: inline-block;
    margin-right: 4px; }
.news-slider figure {
  margin-bottom: -10px; }
  .news-slider figure:after {
    content: "\f0c1"; }
.news-slider img {
  width: 100%; }
.news-slider a {
  text-decoration: none; }
  .news-slider a:hover .thumb:after {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  .news-slider a:hover .thumb:before {
    opacity: 0.5;
    visibility: visible;
    transform: scale(1); }
  .news-slider a:hover strong {
    color: #FE6500; }
.news-slider .slide-text {
  background: #ffffff;
  padding: 10px;
  color: #000000; }
.news-slider .rating .fa {
  color: #FE6500; }

/* --------------------------------------------------
   .extra-container styles
-------------------------------------------------- */
.extra-container {
  background-image: url("../img/layout/pattern.png");
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  padding: 40px 0; }
  .extra-container strong {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.8; }
    @media (min-width: 990px) {
      .extra-container strong {
        font-size: 30px; } }
  @media (min-width: 990px) {
    .extra-container .container {
      display: flex;
      align-items: center;
      justify-content: center; } }

/* --------------------------------------------------
   .qoutes-carousel-container styles
-------------------------------------------------- */
.qoutes-carousel-container {
  display: none;
  background-color: #56509F;
  position: relative;
  min-height: 300px;
  padding-top: 60px; }
  @media (min-width: 768px) {
    .qoutes-carousel-container {
      display: block; } }
  @media (min-width: 990px) {
    .qoutes-carousel-container {
      padding-top: 150px;
      min-height: 400px;
      min-height: 400px; } }
  .qoutes-carousel-container:before {
    content: '';
    background-image: url("../img/layout/qoutest-carosel-bg.jpg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    opacity: 0.2; }
  .qoutes-carousel-container .qoute-block {
    color: #ffffff;
    text-align: center;
    font-style: italic; }

/* --------------------------------------------------
   Footer styles
-------------------------------------------------- */
.footer {
  /*end footer-wrapper*/ }
  .footer .footer-container {
    background-image: url("../img/layout/pattern.png");
    padding: 40px 0;
    color: #ffffff; }
    .footer .footer-container h3 {
      font-size: 20px;
      color: #ffffff;
      padding-left: 20px;
      margin-bottom: 20px; }
      .footer .footer-container h3:before {
        background: #ffffff;
        top: 2px;
        bottom: 1px;
        width: 4px; }
    .footer .footer-container ul li span {
      display: inline-block;
      min-width: 100px; }
    .footer .footer-container a {
      color: #ffffff;
      text-decoration: underline; }
      .footer .footer-container a:hover {
        text-decoration: none; }
  .footer .footer-wrapper {
    background: #ffffff;
    padding: 30px 0; }
    .footer .footer-wrapper .socials-list {
      margin-bottom: 20px; }
      .footer .footer-wrapper .socials-list a {
        display: inline-block;
        font-size: 40px;
        transition: background 300ms ease-in-out;
        color: #ffffff;
        background: #FE6500;
        height: 40px;
        width: 40px;
        line-height: 36px; }
        .footer .footer-wrapper .socials-list a:hover {
          background: #56509F; }
        .footer .footer-wrapper .socials-list a .fa {
          line-height: 1;
          border-radius: 6px;
          overflow: hidden;
          font-size: 24px; }

/* --------------------------------------------------
        Login modal styles
-------------------------------------------------- */
#login-modal .modal-dialog {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .loginmodal-container strong {
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 70px;
    display: block; }
  .loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    transition: background 300ms ease-in-out;
    font-family: "Ubuntu", sans-serif; }
  .loginmodal-container input[type=text], .loginmodal-container input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    outline: none; }
    .loginmodal-container input[type=text]:hover, .loginmodal-container input[type=text]:focus, .loginmodal-container input[type=password]:hover, .loginmodal-container input[type=password]:focus {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px; }

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #56509F;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px; }
  .loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #FE6500; }

/* --------------------------------------------------
    Masonry gallery styles
-------------------------------------------------- */
.masonry-gallery {
  padding: 80px  0;
  display: none; }
  @media (min-width: 660px) {
    .masonry-gallery {
      display: block; } }

#gallery {
  float: left;
  width: 100%; }

#gallery-header {
  width: 100%;
  float: left; }

#gallery-header-center {
  height: 100px;
  margin-right: auto;
  margin-left: auto; }

#gallery-header-center-left {
  float: left;
  height: 35px;
  line-height: 35px;
  margin-top: 32px; }

#gallery-header-center-left-icon {
  float: left;
  height: 35px;
  width: 35px;
  background-color: #3f8dbf;
  color: white;
  text-align: center;
  font-size: 20px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s; }

#gallery-header-center-left-icon:hover {
  background-color: rgba(63, 141, 191, 0.5);
  cursor: pointer; }

#gallery-header-center-left-title {
  margin-left: 0;
  margin-bottom: 20px; }

#gallery-header-center-right {
  line-height: 35px; }
  @media (min-width: 660px) {
    #gallery-header-center-right {
      display: flex;
      justify-content: space-between; } }

.gallery-header-center-right-links {
  color: #333333;
  height: 35px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  transition: background 0.5s, color 300ms ease-in-out;
  background: #efefef;
  display: block;
  width: 100%; }
  @media (min-width: 660px) {
    .gallery-header-center-right-links {
      width: auto;
      display: inline-block; } }

.gallery-header-center-right-links:hover {
  background-color: #56509F;
  color: #ffffff;
  cursor: pointer; }

.gallery-header-center-right-links-current {
  background-color: #56509F;
  color: #ffffff; }

.gallery-header-center-right-links-current:hover {
  background-color: #56509F; }

#gallery-content {
  float: left;
  width: 100%; }

.gallery-content-center-normal {
  float: left;
  width: 100%; }

.gallery-content-center-full {
  float: left;
  width: 100%; }

#gallery-content-center a {
  display: inline-block;
  width: 33.33333333%;
  margin-bottom: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 10px; }

#gallery-content-center a img {
  width: 100%; }

#gallery-content-center .thumb:before {
  left: 10px;
  right: 10px; }

/* --------------------------------------------------
   Helpers styles
-------------------------------------------------- */
.thumb {
  position: relative;
  display: inline-block;
  text-decoration: none; }

.thumb:hover:after {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.thumb:hover:before {
  opacity: 0.5;
  visibility: visible;
  transform: scale(1); }

.thumb:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #554c86;
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  z-index: 2; }

.thumb:after {
  content: "\f055";
  display: block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transform: scale(1.2);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  z-index: 3; }

.white-btn {
  display: inline-block;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
  font-size: 16px;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  text-decoration: none !important;
  padding: 10px 20px;
  line-height: 1;
  font-weight: 300; }
  .white-btn:hover {
    color: #56509F;
    background: #ffffff; }
  @media (min-width: 990px) {
    .white-btn {
      font-size: 20px; } }

.custom-title {
  padding-left: 0;
  position: relative;
  text-align: center;
  margin-bottom: 45px;
  color: #56509F; }
  .custom-title:before {
    content: none; }
  .custom-title:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 14px;
    background-image: url("../images/layout/header_divider.png"); }

.person-card {
  margin-bottom: 30px; }
  .person-card .thumb {
    width: 100%; }
  .person-card .card-block {
    background-image: url("../images/layout/pattern.png");
    color: #ffffff; }
    .person-card .card-block .fa {
      display: inline-block;
      margin-right: 5px;
      color: #FE6500; }
    .person-card .card-block span span {
      color: #FE6500;
      display: inline-block;
      margin-right: 5px; }
    .person-card .card-block strong {
      display: block;
      font-weight: 300;
      margin-bottom: 10px; }

.article {
  margin-bottom: 50px; }

.purple {
  background: #56509F !important;
  color: #ffffff !important;
  border-color: #56509F !important; }

.map {
  border: none;
  height: 400px;
  width: 100%;
  float: left; }

@media (min-width: 990px) {
  .animated {
    opacity: 0;
    visibility: hidden;
    /* NOJS */ }
    .nojs .animated {
      opacity: 1;
      visibility: visible; }

  .in-view.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    opacity: 1;
    visibility: visible; }
    .in-view.animated.infinite {
      animation-iteration-count: infinite; }
    .in-view.animated.hinge {
      animation-duration: 2.5s; } }
/*
 fadeInDown
 ============================ */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.in-view.fadeInDown {
  animation-name: fadeInDown; }

/*
 fadeInDown
 ============================ */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.in-view.fadeInUp {
  animation-name: fadeInUp; }

/*
 fadeInLeft
 ============================ */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.in-view.fadeInLeft {
  animation-name: fadeInLeft; }

/*
 fadeInRight
 ============================ */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.in-view.fadeInRight {
  animation-name: fadeInRight; }

/*
 slideInUp
 ============================ */
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.in-view.slideInUp {
  animation-name: slideInUp; }

/*
 slideInDown
 ============================ */
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.in-view.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.in-view.slideInLeft {
  animation-name: slideInLeft; }

/*# sourceMappingURL=style.css.map */
